apiVersion: serving.knative.dev/v1
kind: Service
metadata:
  name: ${CLOUD_RUN_SERVICE}
  labels:
    cloud.googleapis.com/location: ${REGION}
spec:
  template:
    metadata:
      annotations:
        autoscaling.knative.dev/maxScale: '1'
    spec:
      containerConcurrency: 5
      timeoutSeconds: 300
      containers:
      - image: ${ARTIFACT_REGISTRY_IMAGE_URI}
        ports:
        - name: http1
          containerPort: 8000
        resources:
          limits:
            memory: 2048Mi
            cpu: 2000m
